@model ExamDto


@section Styles {
	<link rel="stylesheet" href="~/Admin/assets/vendors/select2/select2.min.css">
	<link rel="stylesheet" href="~/Admin/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
}


<div class="card-body">
	<div class="d-flex align-items-start">
		<div class="wrapper">
			<div class="badge badge-gradient-success text-center">
				<h3 class="project-title mb-0">Exam</h3>
			</div>
		</div>
	</div>
</div>
<div class="d-flex justify-content-center align-items-center min-vh-75 bg-light mb-5">
	<div class="card shadow-lg w-50">
		<div class="card-body">
			<h4 class="card-title text-center">@exam.Exam</h4>


			<form class="forms-sample"
				  method="post" enctype="multipart/form-data"
				  asp-controller="Exam"
				  asp-action="Save" role="form">
				<input asp-for="Id" value="@Guid.Empty" type="hidden" />
				<input asp-for="CurrentState" value="1" type="hidden" />
				<div class="form-group row">

					<div class="d-flex align-items-start mb-1">
						<div class="wrapper">
							<div class="badge badge-gradient-success text-center">
								<h5 class="project-title mb-0">@exam.Exam</h5>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<input asp-for="Title" value="@Model.Title" type="text" maxlength="100"
							   class="form-control border border-2 border-success shadow-sm"
							   placeholder="">
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>

				</div>
				<div class="d-flex align-items-start mb-1">
					<div class="wrapper">
						<div class="badge badge-gradient-success text-center">
							<h5 class="project-title mb-0">@exam.Description</h5>
						</div>
					</div>
				</div>

				<div class=" col-sm-9 mb-4">
					<textarea asp-for="Description" type="text" maxlength="500"
							  class="form-control border border-2 border-success shadow-sm" placeholder=""></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				@if (ViewBag.subjId == Guid.Empty)
				{

					<div class=" col-sm-9 mb-1">

						<select class="btn btn-outline-danger dropdown-toggle show form-select"
						 asp-for="SubjectTaughId" asp-items="@(new SelectList(ViewBag.subj, "Id","NameSubjects"))">
							<option value="">@exam.Subject</option>
						</select> 

					</div>
				}
				else
				{
					<div class="d-flex align-items-start mb-1">
						<div class="wrapper">
							<div class="badge badge-gradient-danger text-center">
								<h5 class="project-title mb-0">@exam.Subject</h5>
							</div>
						</div>
					</div>

					<div class="col-sm-9">
						<input asp-for="SubjectTaughId" value="@ViewBag.subjId" type="hidden"
							   class="form-control border border-2 border-success shadow-sm"
							   placeholder="">
						<label class="form-control border border-2 border-success shadow-sm">@ViewBag.subj</label>

					</div>

				}


				<div class="d-flex justify-content-end align-items-center gap-2 mb-3">
					<button type="submit" class="btn btn-block btn-gradient-success btn-sm fw">@actionEx.Save</button>
					@* <a href="#" class="btn btn-block btn-gradient-danger btn-sm fw">Cancel</a> *@
					<button type="button" class="btn btn-block btn-gradient-danger btn-sm fw" onclick="history.back()">@actionEx.Cancel</button>

					@* <button asp-controller="Exam" asp-action="Index" asp-area="admin" asp-route-Id="@Guid.Empty" class="btn btn-block btn-gradient-danger btn-sm fw">cancel</button> *@
				</div>
			</form>

		</div>
	</div>
</div>

@section Scripts {

	<!-- Plugin js for this page -->
	<script src="~/Admin/assets/vendors/select2/select2.min.js"></script>
	<script src="~/Admin/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
	<!-- End plugin js for this page -->
	<!-- Custom js for this page -->
	<script src="~/Admin/assets/js/file-upload.js"></script>
	<script src="~/Admin/assets/js/typeahead.js"></script>
	<script src="~/Admin/assets/js/select2.js"></script>
	<!-- End custom js for this page -->
}
